
{% extends 'base.html' %}


{% block title %}
Profile
{% endblock %}

{% block content %}
{% load static %}






<div class="container">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ request.user.first_name }}</p>
    <p>Last name: {{ request.user.last_name}}</p>
    <p>Email ID: {{ request.user.email}}</p>

    <p>Description: {{ user.profile.bio }}</p>
    <p>Website: {{ user.profile.url }}</p>
    {% if user.profile.image.url %}
    <img src="{{ user.profile.image.url}}" width="240">
    {% else %}
    <img src="{% static 'image/comment.jpg' %}" width="240">

    {% endif %}
    <p><a href="{% url 'edit' %}">Edit Your profile</a></p>
</div>


<div class="container">
<div class="row-sm">
    <div class="jumbotron">
        <h1>My Uploads</h1>
        {% for data in content %}
        
        <img src="{{data.image.url}}" style="width:180px; height: 180px">
        <p>{{data.post_body}}</p>
        <p>{{data.user_likes}}likes</p>
        <p>{{data.post_date}}</p>

{% endfor %}
    </div>
</div>
</div>
{% endblock %}