{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="container">
  <h1 style="color: chartreuse;">Latet Post</h1>
<br>
{% for feed in feeds.all %}
<div class="container">
      
<div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card jumbotron">
        <img src="{{feed.image.url}}" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{feed.user}}</h5>
          <p class="card-text" style="    display: inline-block;
          width: 180px;
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;">{{feed.post_body}}</p>
          {{feed.post_date}}
         <a href="http://dfbc92a67f13.ngrok.io/feed/create/{{feed.id}}/none/{{username}}" class="btn btn-outline-success btn-sm">Read More</a>
        </div>
       </div>
      </div>
    </div>
</div>
<br>
<br>
</div>
  {% endfor %}      


{% endblock %}