
{% extends 'base.html' %}
{% block content %}
<br>

<h2 style="text-align: center; font-family: Helvetica, sans-serif;">Thank you for using our site.</h2>
<br>
<p style="text-align:center; font-family:Helvetica, sans-serif; font-size: medium; color: royalblue;" >You will be redirected to homepage in a few seconds...</p>

<script>
    //Using setTimeout to execute a function after 5 seconds.
    setTimeout(function () {
       //Redirect with JavaScript
       window.location.href= '{% url 'home' %}';
    }, 5000);
    </script>

{% endblock %}

